extends layout.pug

block content
	div(class="w-full py-8 min-h-screen" style="color: #14163F;")
		div(class="w-full flex justify-center item-center py-24")
			img(src=`/img/pameran/asset_${karya.id}/banner.png` class="w-full")
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full")
			div(class="text-4xl font-bold text-left")= karya.judul
		div(class="mx-auto container pt-24 px-4 md:px-24 lg:px-48 w-full h-full" style="color: #14163F;")
			div(class="w-full flex justify-center item-center my-16 rounded-xl shadow-xl overflow-hidden bg-purple-600")
				iframe(class="w-full" height="480" src="https://www.youtube.com/embed/ElOAakk-Wp0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

			div(class=`w-full py-12 mt-48 flex justify-center`)
				div(class="py-2 px-4 text-xl font-bold bg-purple-600 text-white rounded-full text-center")
					| Latar Belakang

			div(class="px-8")
				p(class="text-left text-md")
					| Berawal dari tema ‘Nasionalisme Gen Z’, kami mengembangkan ide tersebut dengan menelusuri lebih lanjut mengenai kebudayaan di Indonesia, salah satunya Baju Adat. Rasa nasionalisme pada Gen Z (1997 - 2012) dianggap semakin menurun. Dapat dilihat dari  berkurangnya pengetahuan tentang Baju Adat di Indonesia. Dan ternyata masih banyak Gen Z yang tak acuh terhadap budaya bangsa sendiri.
					br
					br
					| Dari 34 provinsi, kami mengambil 5 provinsi dari tiap pulau besar yang ada di Indonesia. Berdasarkan survei ‘Baju Adat Yang Paling Banyak Ingin Diketahui’ yang diikuti oleh 120 responden, kami mendapatkan beberapa provinsi dengan jumlah pilihan terbanyak, yaitu Aceh, Banten, Kalimantan Utara, Sulawesi Barat, dan Papua Barat.

			div(class=`w-full py-12 mt-48 flex justify-center`)
				div(class="py-2 px-4 text-xl font-bold bg-purple-600 text-white rounded-full text-center")
					| MASKOT

			div(class="w-full grid grid-cols-1 md:grid-cols-2 gap-4")
				div(class="flex flex-col md:order-1 order-2")
					p(class="font-bold text-pink-500 text-xl py-12") SURYA DAN MENTARI 
					p(class="")
						| Dalam Animasi ‘Kenalan sama Baju Adat di Indonesia’, terdapat 2 maskot yang memandu dan memaparkan materi, yaitu Surya dan Mentari.
						br
						br
						| Nama Surya dan Mentari terinspirasi dari nama kelompok kami, yaitu Regu Matahari. Dengan demikian, penamaan Surya dan Mentari memiliki arti yang sama dengan Matahari.
				div(class="flex flex-col justify-center md:order-2 order-1")
					img(src=`/img/pameran/asset_${karya.id}/pic1.png`)

		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #14163F;")
			div(class=`w-full py-12 mt-48 flex justify-center`)
				div(class="py-2 px-4 text-xl font-bold bg-purple-600 text-white rounded-full text-center")
					| SURVEY

			p(class="font-bold text-pink-500 text-xl pb-8 text-center") BAJU ADAT YANG BANYAK INGIN DIKETAHUI

			div(class="w-full grid grid-cols-1 md:grid-cols-2 gap-4")
				div(class="flex flex-col justify-center")
					img(src=`/img/pameran/asset_${karya.id}/pic2.png`)
				div(class="flex flex-col justify-center")
					p(class="")
						| Hasil survei menunjukkan bahwa 5 provinsi dengan pilihan tertinggi adalah Aceh, Banten, Kalimantan Utara, Sulawesi Barat, dan Papua Barat. Provinsi terbanyak yang mendapatkan suara adalah Kalimantan Utara dengan 47 suara. 

		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #14163F;")
			div(class=`w-full py-12 mt-48 flex justify-center`)
				div(class="py-2 px-4 text-xl font-bold bg-purple-600 text-white rounded-full text-center")
					| 5 BAJU ADAT DI INDONESIA

			div(class="flex flex-col items-center md:flex-row md:flex-wrap md:justify-center")
				div(class="px-4 w-full md:w-1/3 mt-12")
					div(class="py-4 flex flex-col items-center text-center")
						p(class="font-bold text-pink-500 text-xl pb-8 text-center") ACEH
						img(src=`/img/pameran/asset_${karya.id}/f1.png` class="w-full")
				div(class="px-4 w-full md:w-1/3 mt-12")
					div(class="py-4 flex flex-col items-center text-center")
						p(class="font-bold text-pink-500 text-xl pb-8 text-center") BANTEN
						img(src=`/img/pameran/asset_${karya.id}/f2.png` class="w-full")
				div(class="px-4 w-full md:w-1/3 mt-12")
					div(class="py-4 flex flex-col items-center text-center")
						p(class="font-bold text-pink-500 text-xl pb-8 text-center") KALIMANTAN UTARA
						img(src=`/img/pameran/asset_${karya.id}/f3.png` class="w-full")
				div(class="px-4 w-full md:w-1/3 mt-12")
					div(class="py-4 flex flex-col items-center text-center")
						p(class="font-bold text-pink-500 text-xl pb-8 text-center") SULAWESI BARAT
						img(src=`/img/pameran/asset_${karya.id}/f4.png` class="w-full")
				div(class="px-4 w-full md:w-1/3 mt-12")
					div(class="py-4 flex flex-col items-center text-center")
						p(class="font-bold text-pink-500 text-xl pb-8 text-center") PAPUA BARAT
						img(src=`/img/pameran/asset_${karya.id}/f5.png` class="w-full")

		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #14163F;")
			div(class=`w-full py-12 mt-48 flex justify-center`)
				div(class="py-2 px-4 text-xl font-bold bg-purple-600 text-white rounded-full text-center")
					| FINAL WORKS

			div(class="w-full grid grid-cols-1 md:grid-cols-2 gap-4 py-24")
				- let i = 0
				while i < 7
					div(class=`w-full md:p${i % 2 ? 't' : 'b'}-12`)
						img(src=`/img/pameran/asset_${karya.id}/g${i + 1}.png` class="w-full")
					- i++

		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #14163F;")
			div(class=`w-full py-12 mt-48 flex justify-center`)
				div(class="py-2 px-4 text-xl font-bold bg-purple-600 text-white rounded-full text-center")
					| PRINT ARTS #{"&"} GOODS

			div(class="w-full grid grid-cols-1 md:grid-cols-3 gap-4 py-24")
				div(class=`w-full flex flex-col justify-between mb-8`)
					img(src=`/img/pameran/asset_${karya.id}/gr1.png` class="w-full")
					p(class="text-center text-md font-bold")
						| Kalender
				div(class=`w-full flex flex-col justify-between mb-8`)
					img(src=`/img/pameran/asset_${karya.id}/gr2.png` class="w-full")
					p(class="text-center text-md font-bold")
						| Playing Card
				div(class=`w-full flex flex-col justify-between mb-8`)
					img(src=`/img/pameran/asset_${karya.id}/gr3.png` class="w-full")
					p(class="text-center text-md font-bold")
						| Poster
				div(class=`w-full flex flex-col justify-between mb-8`)
					img(src=`/img/pameran/asset_${karya.id}/gr4.png` class="w-full")
					p(class="text-center text-md font-bold")
						| Notebook
				div(class=`w-full flex flex-col justify-between mb-8`)
					img(src=`/img/pameran/asset_${karya.id}/gr5.png` class="w-full")
					p(class="text-center text-md font-bold")
						| Flyer
				div(class=`w-full flex flex-col justify-between mb-8`)
					img(src=`/img/pameran/asset_${karya.id}/gr6.png` class="w-full")
					p(class="text-center text-md font-bold")
						| Notebook Square

		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #72727A;")
			div(class="mt-24 py-12 flex flex-col justify-center items-center")
				div(class="flex flex-col justify-center items-center")
					img(src=`/img/pameran/asset_${karya.id}/team_logo.png` class="w-32")
					p(class="text-3xl mt-4 text-center font-bold" style="color: #14163F;")= karya.kreator_detail.team
					
					div(class="flex flex-wrap justify-center")
						each member in karya.kreator_detail.member
							div(class="px-4 w-32 md:w-40 mt-12")
								div(class="py-4 flex flex-col items-center text-center")
									img(src=`/img/pameran/asset_${karya.id}/kreator_${member.nama.split(' ').join('_').toLowerCase()}.png` class="")
									div(class="mt-8 font-bold" style="color: #363636")= member.nama
									div(class="mt-2 text-sm")= member.sosmed
