extends layout.pug

block content
	div(class="w-full py-8 min-h-screen" style="color: #14163F;")
		div(class="w-full flex justify-center item-center py-24")
			img(src=`/img/pameran/asset_${karya.id}/banner.png` class="w-full")
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full")
			div(class="text-4xl font-bold text-left")= karya.judul
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #72727A;")

			div(class=`w-full md:px-16`)
				img(src=`/img/pameran/asset_${karya.id}/pic1.png` class="w-full py-24")

			div(class="px-8")
				p(class="text-center text-md")
					| Perkenalkan kami KENALANIMAL, sebuah buku “pintar” yang akan menjadi teman belajar anak yang seru dan berbeda dari yang lain serta mudah di akses untuk semua orang. Kenalanimal Smartbook kali ini akan menggangkat tema hewan-hewan Sabana yang tentunya sangat jarang kita temui di sekitar, oleh karena itu dengan buku ini kita akan berpetualang mengetahui fauna apa yang tedapat di dalamnya.
				
			div(class=`w-full md:px-16`)
				img(src=`/img/pameran/asset_${karya.id}/pic2.png` class="w-full py-24")
			div(class=`w-full md:px-16`)
				img(src=`/img/pameran/asset_${karya.id}/pic3.png` class="w-full py-24")

			div(class="px-8")
				p(class="text-center text-md")
					| Berangkat dari keresahan kami yang dimana saat ini anak-anak sudah sangat akrab oleh smartphone, dan cenderung menjadi jarang membaca buku. Oleh karena itu kita ingin menambah ketertarikan anak untuk membaca buku menggunakan teknologi yaitu AR (Augmented Reality). Penggunaan teknologi bertujuan untuk menambah ketertarikan anak pada buku dan AR tidak hanya digunakan untuk materi yang berupa visual namun juga menambahkan materi audio yang membuat buku tersebut berbicara pada pembaca.
		div(class="w-full flex justify-center item-center py-24")
			img(src=`/img/pameran/asset_${karya.id}/banner2.png` class="w-full")

		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #72727A;")
			iframe(src=`/img/pameran/asset_${karya.id}/slide.pdf` class="w-full h-96 mb-24 border border-black rounded-xl shadow-lg")
			p(class="text-center text-md")
				| Atau

		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #72727A;")
			img(src=`/img/pameran/asset_${karya.id}/ptr_left.png` class="absolute left-0 hidden md:inline-block")
			img(src=`/img/pameran/asset_${karya.id}/ptr_right.png` class="absolute right-0 hidden md:inline-block")
			div(class=`w-full py-24 flex justify-center`)
				a(href="https://drive.google.com/drive/u/0/folders/1RJyIM4fB28jklXMUTvhr-e1wml3LRNxF" class="p-4 bg-yellow-400 text-white rounded-xl text-center hover:underline")
					| Download E-book Disini

			div(class=`w-full md:px-16 flex justify-center`)
				img(src=`/img/pameran/asset_${karya.id}/pic4.png` class="")

			div(class="px-8")
				p(class="text-center text-md")
					| Dalam penggunaan teknologi AR (Augmented Reality) kami menggunakan aplikasi yang cukup mainstream yaitu Instagram Filter yang di saat ini cukup banyak digunakan dan mudah di akses jadi tidak pelu download aplikasi tambahan lain. Langsung aja Scan QR Code di bawah untuk membuka Instagram kita di @kenalanimal dan ikuti petunjuk penggunaan di salah satu postingan kami.

			div(class="w-full grid grid-cols-1 md:grid-cols-2 gap-4 py-24")
				div(class="flex flex-col justify-center md:order-1 order-2")
					p(class="font-bold ") Cara Memakai AR 
					ol(class="list-decimal")
						each row in ["Buka aplikasi Instagram di Smartphone, buka @kenalanimal", "Buka bagian filter", "Pilih filter sesuai halaman yang akan di scan", "Arahkan smartphone ke buku Kenalanimal", "Tab di layar untuk memunculkan audio", "Pilih icon bendera untuk merubah bahasa"]
							li(class="ml-4")= row
				img(src=`/img/pameran/asset_${karya.id}/pic5.png` class="md:order-2 order-1")

			div(class=`w-full md:px-16 flex justify-center`)
				img(src=`/img/pameran/asset_${karya.id}/pic6.png` class="pb-24")


		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #72727A;")
			img(src=`/img/pameran/asset_${karya.id}/ptr_left2.png` class="absolute left-0 hidden md:inline-block")
			img(src=`/img/pameran/asset_${karya.id}/ptr_right2.png` class="absolute right-0 hidden md:inline-block")
			div(class=`w-full md:px-16 flex justify-center`)
				img(src=`/img/pameran/asset_${karya.id}/pic7.png` class="py-12")
			div(class="px-8 mb-12")
				p(class="text-center text-md italic")
					| Puzzel Kenalanimal
			div(class=`w-full md:px-16 flex justify-center`)
				img(src=`/img/pameran/asset_${karya.id}/pic8.png` class="py-12")
			div(class="px-8 mb-12")
				p(class="text-center text-md italic")
					| Sticker Pack
			div(class=`w-full md:px-16 flex justify-center`)
				a(href="https://instagram.com/kenalanimal")
					img(src=`/img/pameran/asset_${karya.id}/pic9.png` class="py-12")
			
			div(class="mt-24 py-12 flex flex-col justify-center items-center")
				div(class="flex flex-col justify-center items-center")
					img(src=`/img/pameran/asset_${karya.id}/team_logo.png` class="w-32")
					p(class="text-3xl mt-4 text-center font-bold" style="color: #14163F;")= karya.kreator_detail.team
					
					div(class="flex flex-wrap justify-center")
						each member in karya.kreator_detail.member
							div(class="px-4 w-32 md:w-40 mt-12")
								div(class="py-4 flex flex-col items-center text-center")
									img(src=`/img/pameran/asset_${karya.id}/kreator_${member.nama.split(' ').join('_').toLowerCase()}.png` class="")
									div(class="mt-8 font-bold" style="color: #363636")= member.nama
									div(class="mt-2 text-sm")= member.sosmed
