extends layout.pug

block content
	div(class="w-full py-8 min-h-screen" style="color: #14163F;")
		div(class="w-full flex justify-center item-center py-24")
			img(src=`/img/pameran/asset_${karya.id}/banner.png` class="w-full")
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full")
			div(class="text-4xl font-bold text-left")= karya.judul
		div(class="w-full flex justify-center item-center pt-24")
			img(src=`/img/pameran/asset_${karya.id}/banner2.png` class="w-full")
		div(class="w-full flex justify-center item-center")
			img(src=`/img/pameran/asset_${karya.id}/bannertext.png` class="w-full")
		div(class="w-full flex justify-center item-center")
			img(src=`/img/pameran/asset_${karya.id}/banner3.png` class="w-full")
		div(class="w-full flex justify-center item-center")
			img(src=`/img/pameran/asset_${karya.id}/banner4.png` class="w-full")
		div(class="w-full flex justify-center item-center")
			img(src=`/img/pameran/asset_${karya.id}/banner5.png` class="w-full")
		div(class="w-full flex justify-center item-center")
			img(src=`/img/pameran/asset_${karya.id}/banner6.png` class="w-full")
		div(class="w-full flex justify-center item-center")
			img(src=`/img/pameran/asset_${karya.id}/banner7.png` class="w-full")
		div(class="w-full flex justify-center item-center")
			img(src=`/img/pameran/asset_${karya.id}/banner8.png` class="w-full")
		div(class="w-full flex justify-center item-center")
			img(src=`/img/pameran/asset_${karya.id}/banner9.png` class="w-full")
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #72727A;")
			div(class=`w-full`)
				img(src=`/img/pameran/asset_${karya.id}/pic1.png` class="w-full py-24")
				img(src=`/img/pameran/asset_${karya.id}/pic2.png` class="w-full")
				img(src=`/img/pameran/asset_${karya.id}/pic3.png` class="w-full")
		div(class="w-full flex justify-center item-center")
			img(src=`/img/pameran/asset_${karya.id}/banner10.png` class="w-full")
				
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #72727A;")
			div(class="mt-24 py-12 flex flex-col justify-center items-center")
				div(class="flex flex-col justify-center items-center")
					img(src=`/img/pameran/asset_${karya.id}/team_logo.png` class="w-32")
					p(class="text-3xl mt-4 text-center font-bold" style="color: #14163F;")= karya.kreator_detail.team
					
					div(class="flex flex-wrap justify-center")
						each member in karya.kreator_detail.member
							div(class="px-4 w-32 md:w-40 mt-12")
								div(class="py-4 flex flex-col items-center text-center")
									img(src=`/img/pameran/asset_${karya.id}/kreator_${member.nama.split(' ').join('_').toLowerCase()}.png` class="")
									div(class="mt-8 font-bold" style="color: #363636")= member.nama
									div(class="mt-2 text-sm")= member.sosmed
