-
	var menu = [
		{ href:'/home', name:'Home' },
		{ href:'/pameran', name:'Pameran' },
		{ href:'/merchandise', name:'Merchandise' },
		{ href:'', name:'Event', submenu: 
			[
				{ href:'/pra-event', name:'Pra Event' },
				{ href:'/webinar', name:'Webinar' },
				{ href:'/lomba', name:'Lomba' },
			]
		},
		{ href:'/tentang', name:'Tentang' },
	]

//- navbar desktop / tablet
div(class="w-full bg-white fixed py-4 z-10" id="navbar")
	div(class="mx-auto container px-4 md:px-24 lg:px-48 text-gray-500 font-normal flex flex-row justify-between items-center")
		div(class="flex")
			img(src="/assets/img/logo.png" class="h-16 mr-2")
		div
			img(src="/assets/svg/menu.svg" class="h-4 md:hidden"  id="toggle-show-navbar")
		ul(class="list-none hidden md:flex")
			each item in menu 
				if item.submenu
					div(class="dropdown")
						li
							a(class=`ml-6 hover:underline hover:text-gray-800 dropdown-btn cursor-pointer flex` data-target="dd1")
								| #{item.name}
								img(src="/assets/svg/dropdown.svg" class="ml-3")
						ul(class="list-none hidden flex-col absolute bg-white w-48 mt-4 shadow-lg rounded-xl" id="dd1")
							each subitem in item.submenu
								li(class="py-4")
									a(class=`ml-6 hover:underline hover:text-gray-800 ${pageName == subitem.href ? 'text-gray-800 font-bold' : ''}` href=`${subitem.href}`)= subitem.name

				else
					li
						a(class=`ml-6 hover:underline hover:text-gray-800 ${pageName == item.href ? 'text-gray-800 font-bold' : ''}` href=`${item.href}`)= item.name

//- navbar mobile
div(class="w-full h-full py-4 fixed top-0 z-20 hidden" id="navbar-mobile" style="background-color: #FFFAE9; color: #14163F;")
	div(class="mx-auto container px-4 text-white font-bold flex flex-row justify-between items-center")
		div(class="flex")
			img(src="/assets/img/logo.png" class="h-16 mr-2")
		div
			img(src="/assets/svg/close.svg" class="h-4"  id="toggle-hide-navbar")
	ul(class="list-none flex flex-col mt-8 text-3xl mx-auto container px-4")
		each item in menu
			if item.submenu
				div(class="dropdown")
					li(class="my-3")
						a(class=`mobile-navbar-link flex dropdown-btn cursor-pointer ` data-target="dd2")
							span= item.name
							img(src="/assets/svg/dropdown.svg" class="ml-3")
					ul(class="list-none hidden flex-col text-3xl mx-auto container px-4" id="dd2")
						each subitem in item.submenu
							li(class="my-3")
								a(class=`mobile-navbar-link ${pageName == subitem.href ? 'text-gray-800 font-bold' : ''}` href=`${subitem.href}`)= subitem.name
			else
				li(class="my-3")
					a(class=`mobile-navbar-link ${pageName == item.href ? 'text-gray-800 font-bold' : ''}` href=`${item.href}`)= item.name