extends layout.pug

block content
	div(class="w-full py-8 min-h-screen" style="color: #14163F;")
		div(class="w-full flex justify-center item-center py-24")
			img(src=`/img/pra_event/asset_${karya.id}/banner.png` class="w-full")
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full")
			div(class="text-4xl font-bold text-left")= karya.judul
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #72727A;")
			p(class="text-justify text-md py-24")
				| Pada artikel ini Humblewish.co akan mengusung kebudayaan wayang kulit. Sebuah kebanggaan tersendiri bagi masyarakat Jawa dan Indonesia yang karyanya dapat diakui oleh dunia, maka dari itu Humblewish.co ingin mengenalkan kembali kebudayaan yang sudah mulai luntur karena terkikis oleh zaman. Terutama ingin mengenalkan wayang kulit kepada anak muda zaman sekarang yang mulai melupakan wayang kulit.

			p(class="text-center text-3xl" style="color: #14163F;" ) Karya Utama
			
			- let j = 1
			while j <= 10
				div(class=`w-full py-24 `)
					img(src=`/img/pra_event/asset_${karya.id}/pic${j}.png` class="w-full")
					- j++

			p(class="text-center text-3xl mt-12" style="color: #14163F;" ) Karya Pendukung
			div(class=`w-full py-24 `)
				img(src=`/img/pra_event/asset_${karya.id}/pic11.png` class="w-full")

			div(class="mt-24 py-12 flex flex-col justify-center items-center")
				div(class="flex flex-col justify-center items-center")
					img(src=`/img/pra_event/asset_${karya.id}/kreator.png` class="w-48")
					p(class="text-3xl mt-4 text-center" style="color: #14163F;")= karya.kreator
					p(class="text-xl mt-4") D-3 DKV 2018

					div
						p(class="text-sm mt-8 font-bold" style="color: #14163F;") Sosial Media
						p(class="text-sm mt-2") @#{karya.instagram}
						p(class="text-sm mt-8 font-bold" style="color: #14163F;") Portofolio
						p(class="text-sm mt-2") -
