extends layout.pug

block content
	div(class="w-full py-8 min-h-screen" style="color: #14163F;")
		div(class="w-full flex justify-center item-center py-24")
			img(src=`/img/pra_event/asset_${karya.id}/banner.png` class="w-full")
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full")
			div(class="text-4xl font-bold text-left")= karya.judul
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #72727A;")
			p(class="text-justify text-md py-24")
				| Perusahaan Inoe adalah salah satu Usaha Kecil Mikro Menengah (UKMM) yang menyajikan olahan jagung sebagai produk utamanya. Target market perusahaan Inoe adalah anak-anak, remaja, dan orang dewasa yang menyukai makanan olahan jagung. Namun dengan kegiatan promosi yang sangat minimum membuat perusahaan Inoe kurang dikenal di wilayah Karanganyar dan sekitarnya. Oleh karena itu dibutuhkan sebuah rancangan visual identity untuk mengenalkan perusahaan Inoe ke masyarakat yang lebih luas.
			
			p(class="text-center text-3xl" style="color: #14163F;" ) Karya Utama
			div(class=`w-full py-24`)
				img(src=`/img/pra_event/asset_${karya.id}/pic1.png` class="w-full mb-16")
				img(src=`/img/pra_event/asset_${karya.id}/pic2.png` class="w-full mb-16")

			p(class="text-center text-3xl" style="color: #14163F;" ) Karya Pendukung
			div(class=`w-full py-24`)
				img(src=`/img/pra_event/asset_${karya.id}/pic3.png` class="w-full mb-16")
				img(src=`/img/pra_event/asset_${karya.id}/pic4.png` class="w-full mb-16")
				img(src=`/img/pra_event/asset_${karya.id}/pic5.png` class="w-full mb-16")
			
			div(class="mt-24 py-12 flex flex-col justify-center items-center")
				div(class="flex flex-col justify-center items-center")
					img(src=`/img/pra_event/asset_${karya.id}/kreator.png` class="w-48")
					p(class="text-3xl mt-4 text-center" style="color: #14163F;")= karya.kreator
					p(class="text-xl mt-4") D-3 DKV 2018

					div
						p(class="text-sm mt-8 font-bold" style="color: #14163F;") Sosial Media
						p(class="text-sm mt-2") @#{karya.instagram}
						p(class="text-sm mt-8 font-bold" style="color: #14163F;") Portofolio
						p(class="text-sm mt-2") https://issuu.com/tazkiya12
