extends layout.pug

block content
	div(class="w-full py-8 min-h-screen" style="color: #14163F;")
		div(class="w-full flex justify-center item-center py-24")
			img(src=`/img/pra_event/asset_${karya.id}/banner.png` class="w-full")
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full")
			div(class="text-4xl font-bold text-left")= karya.judul
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #72727A;")
			p(class="text-justify text-md py-24")
				| Dengan perkembangan di era digital saat ini maka tentunya para creator music juga membutuhkan visual yang bisa merepresentasikan music mereka melalui cover art.Cover art sendiri merupakan Seni yang disajikan sebagai ilustrasi atau foto yang diterbitkan seperti DVD,CD,Buku, Podcast. Di Instagram , Saya di direc message oleh seseorang dari USA bernama Austin, dia memiliki Usaha yang bergerak di bidang music, yang bernama HOMEGROWN RECORDING. Homegrown sendiri memiliki music yang berali- ran Trap instrumental beat. dia mencari seseorang yang dapat membantunya untuk membuat visual untuk brand musiknya.

		div(class="w-full flex flex-col justify-center item-center py-12")
			p(class="text-center text-3xl" style="color: #14163F;" ) Karya Utama
			div(class="mt-16")
				img(src=`/img/pra_event/asset_${karya.id}/banner2.png`)
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #72727A;")
			div(class=`w-full`)
				p(class="text-justify mt-8")
					| Into something 
					br
					| Artwork ini memiliki arti menjadi sesuatu, untuk menjadi sesuatu kita harus berjuang untuk menggapai apa yang diinginkan
				p(class="text-justify mt-8")
					| Scheming
					br
					| Artwork mempresentasikan dari judulnya yang memiliki arti licik, dan joker adalah karakter yang sangat licik dan cerdik
				p(class="text-justify mt-8")
					| Shadow 
					br
					| Artwork ini mempresentasikan judulnya Shadow yaitu bayangan, terkadang kita harus menjadi bayangan dalam low-profile dan ini sangat sesuai dimana vibes beat nya sangat dalam dan gelap
			div(class=`w-full`)
				img(src=`/img/pra_event/asset_${karya.id}/pic1.png`)
			div(class=`w-full`)
				img(src=`/img/pra_event/asset_${karya.id}/pic2.png`)
			div(class=`w-full`)
				img(src=`/img/pra_event/asset_${karya.id}/pic3.png`)
				
		div(class="w-full flex flex-col justify-center item-center py-12")
			p(class="text-center text-3xl" style="color: #14163F;" ) Karya Pendukung
			div(class="mt-16")
				img(src=`/img/pra_event/asset_${karya.id}/banner3.png`)
			div(class="mt-16")
				img(src=`/img/pra_event/asset_${karya.id}/banner4.png`)
			div(class="mt-16")
				img(src=`/img/pra_event/asset_${karya.id}/banner5.png`)
				
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #72727A;")
			div(class="mt-24 py-12 flex flex-col justify-center items-center")
				div(class="flex flex-col justify-center items-center")
					img(src=`/img/pra_event/asset_${karya.id}/kreator.png` class="w-48")
					p(class="text-3xl mt-4 text-center" style="color: #14163F;")= karya.kreator
					p(class="text-xl mt-4") D-3 DKV 2018

					div
						p(class="text-sm mt-8 font-bold" style="color: #14163F;") Sosial Media
						p(class="text-sm mt-2") @#{karya.instagram}
						p(class="text-sm mt-8 font-bold" style="color: #14163F;") Portofolio
						p(class="text-sm mt-2") -
