extends layout.pug

block content
	div(class="w-full py-8 min-h-screen" style="color: #14163F;")
		div(class="w-full flex justify-center item-center py-24")
			img(src=`/img/pra_event/asset_${karya.id}/banner.png` class="w-full")
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full")
			div(class="text-4xl font-bold text-left")= karya.judul
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #72727A;")
			p(class="text-justify text-md py-24") COVID-19 tahun 2020 yang telah terjadi membuat konsumen menginginkan minuman yang higienis, mudah untuk dibawa pulang, dan aman jika dipesan secara online. Konsep kopi kaleng MOJU MOJU Artisan Drink dibuat untuk menjawab latar belakang tersebut.
				br
				| Dalam perancangan ini dibuatlah ilustrasi yang disesuaikan dengan karakter rasa dan bahan baku pada variant menu kopi susu, serta media pendukung dan juga media informasi tentang kopi kaleng MOJU MOJU Artisan Drink.
		div(class="w-full mb-24")
			img(src=`/img/pra_event/asset_${karya.id}/banner2.png` class="w-full")
			img(src=`/img/pra_event/asset_${karya.id}/banner3.png` class="w-full")
			img(src=`/img/pra_event/asset_${karya.id}/banner4.png` class="w-full")
		div(class="mx-auto container px-4 md:px-24 lg:px-48 w-full h-full" style="color: #72727A;")
			div(class="py-12 flex flex-col justify-center items-center")
				div(class="flex flex-col justify-center items-center")
					img(src=`/img/pra_event/asset_${karya.id}/kreator.png` class="w-48")
					p(class="text-3xl mt-4" style="color: #14163F;")= karya.kreator
					p(class="text-xl mt-4") D-3 DKV 2018

					div
						p(class="text-sm mt-8 font-bold" style="color: #14163F;") Sosial Media
						p(class="text-sm mt-2") @#{karya.instagram}
						p(class="text-sm mt-8 font-bold" style="color: #14163F;") Portofolio
						p(class="text-sm mt-2") -
